.navbar {
    background-color: #232323;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.navList {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navItem {
    font-size: 16px;
}

.navItem a {
    color: #fff;
    text-decoration: none;
    font-weight: semi-bold;
    position: relative;
    padding: 10px 0;
}

.navItem a:hover {
    color: #FF6F00; /* Orange color on hover */
}
